{
    "auth": {
        "apiKey": ""
    },
    "port": 4600,
    "debug": false,
    "cache": {
        "enabled": true,
        "includeFilter": [],
        "excludeFilter": ["health", "mdr/lastupdated", "mdr/products", ".*/root/.*", "mdr/search/.*"],
        "cacheFolder": "/path/to/cache/folder"
    },
    "cors": {
        "enabled": false,
        "origins": ["*"]
    },
    "https": {
        "enabled": false,
        "privateKeyPath": "/path/to/key",
        "certificatePath": "/path/to/cert",
    },
    "ct": {
        "useNciSiteForCt": false,
        "nciSiteUrl": "https://evs.nci.nih.gov/ftp1/CDISC",
        "enableNciProxy": false
    },
    "rateLimit": {
        "enabled": false,
        "windowMs": 900000,
        "max": 100
    }

}
